body {
	background: url('../imagens/bg.jpg');
	
}

@font-face {
	font-family: 'dream';
	src: url('dream.woff');
}





@keyframes opacidade {

	to {	
		opacity: 1;	
	}
	
}



.navegacao {
	background-color: rgb(251,255,252, 0.8);
	opacity: 0;
	animation: opacidade 1.2s;
	animation-fill-mode: both;
	box-shadow: 0 0 1em #DF7401;

	
	
}

#rodape {
	background-color: rgb(251,255,252, 0.8);
}

.animacao {
	opacity: 0;
	animation: opacidade 1.2s;
	animation-fill-mode: both;
}

#conteudo, #conteudo_drinks {
	border: 6px double #DF7401;
	border-left: none;
	border-right: none;
	box-shadow: 0 0 1em #DF7401;
	

}

.card-custom {
	border-radius: 15px;
	border: 3px double darkred;
	box-shadow: 0 0 1em darkred;
}

.card {
	padding: 0 !important;
}

.card-img-top {
	border-radius: 10px;
}

#conteudo_drinks h2 {
	font-family: dream;
	color: #DF7401;
	font-size: 3.5em;
	font-weight: bolder;
}

footer h2 {
	font-family: dream;
	color: #DF7401;
	font-size: 3.5em;
	font-weight: bolder;
}

#conteudo_drinks h3 {
	font-family: Helvetica sans-serif;
	color: darkred;
	text-shadow: 0 0 1em #DF7401;
	font-size: 2em;
}

#conteudo_drinks li {
	font-size: 1.2em;
}

.img {
	opacity: 0.5;
}

.texto {
	color: #DF7401;
}

.img-drink:hover {
	background-color: rgb(0, 0, 0, 0.8);
	opacity: 0.3;
	transition: 1s;
}

